.task-container {
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task-title {
    cursor: pointer;
    flex: 5;
}

.task-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}